<h1>Top chess players</h1>
<form method="post" action="/">
   Enter Player's first name:
   <input type="text" name="First_name"><br>
   Enter Player's last name:
   <input type="text" name="Last_name"><br>
   <input type="submit" class="btn btn-md btn-danger">
</form>
